<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Delete post</h1>
<form>
     <input name="csrfmiddlewaretoken" value={{cs}} type="hidden">

    <div class="form-group">
    <label for="exampleFormControlSelect1">Post id</label>
    <select class="form-control col-md-5" id="exampleFormControlSelect1">
        {%for post in posts%}
      <option>{{post.id}}</option>
        {%endfor%}
    </select>
  </div>

</form>
<button onclick="send()" class="btn btn-dark col-md-2">Delete</button>
</body>
<script>
    function send() {
        var name = document.getElementById('exampleFormControlSelect1');
        $.ajax({
            type: "DELETE",
            url: "/api/v.2/users/get/"+name.value+'/',
            async: false,
            success: function(){},
            });
        location.href = "/api/v.2/posts/get/";
    }
</script>
</html>